<div id="modale_lieu" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }} Lieu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formLieu, {'attr': {'class': 'form-inline', 'id': 'form_lieu', 'action': path('get_modale_lieu')}}) }}

                {{ form_errors(formLieu) }}

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="lieu_nom" class="col-sm-4 col-form-label justify-content-end">
                            lieu
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_widget(formLieu.nom) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="lieu_rue" class="col-sm-4 col-form-label justify-content-end">
                            Rue
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_widget(formLieu.rue) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="lieu_latitude" class="col-sm-4 col-form-label justify-content-end">
                            latitude
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_widget(formLieu.latitude) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="lieu_longitude" class="col-sm-4 col-form-label justify-content-end">
                            Longitude
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_widget(formLieu.longitude) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <label for="lieu_ville" class="col-sm-4 col-form-label justify-content-end">
                            Ville
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-8">
                            {{ form_widget(formLieu.ville) }}
                        </div>
                    </div>
                </div>

                <div class="m-auto">
                    <input name="idLieu" type="text" value="{{ idLieu}}" class="d-none">
                    {{ form_widget(formLieu.enregister, { 'attr': {'class':'btn btn-success','onClick':'setCookie()'} }) }}
                </div>

                {{ form_end(formLieu) }}
            </div>
        </div>
    </div>
</div>