{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {{ title }} {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/profil/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil/profil-edit.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

        {{ form_start(form) }}

        {% if form.administrateur %}

        <div class="card mt-5 mb-5">
            <div class="card-header">
                <div class="photo-container">
                    <div>
                        {% if app.user %}
                            <img src="{{ asset(path_avatar ~ app.user.urlPhoto) }}" class="card-img" alt="Photo de profil de {{ app.user.pseudo }}">
                        {% else %}
                            <img src="{{ asset(path_avatar ~ user.urlPhoto) }}" class="card-img" alt="Photo de profil de {{ user.pseudo }}">
                        {% endif %}
                    </div>

                    <div class="btn-edit-photo-container">
                        {{ form_widget(form.urlPhoto, {'attr': {'class': 'btn btn-sm btn-edit-photo'}}) }}
                    </div>
                </div>
            </div>

            <div class="card-body">

                {{ form_errors(form) }}

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <div class="col-sm-12">
                            {{ form_widget(form.pseudo, { 'attr': {'id': 'participant_pseudo', 'placeholder': 'Pseudo'} }) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-sm-12">
                            {{ form_widget(form.motDePasse, {'attr': {'class': 'participant_pw'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <div class="col-sm-12">
                            {{ form_widget(form.nom, { 'attr': {'id': 'participant_nom', 'placeholder': 'Nom'} }) }}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-sm-12">
                            {{ form_widget(form.prenom, { 'attr': {'id': 'participant_prenom', 'placeholder': 'Prénom'} }) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-3">
                        <div class="col-sm-12">
                            {{ form_widget(form.telephone, { 'attr': {'id': 'participant_telephone', 'placeholder': 'Numéro de téléphone'} }) }}
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            {{ form_widget(form.mail, { 'attr': {'id': 'participant_mail', 'placeholder': 'Adresse mail'} }) }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-4 campus-container">
                        <label for="participant_campus" class="col-sm-2 col-form-label justify-content-start">
                            Campus
                            <span class="required">*</span>
                        </label>
                        <div class="col-sm-10">
                            {{ form_widget(form.campus, { 'attr': {'id': 'participant_campus'} }) }}
                        </div>
                    </div>
                </div>

                {{ form_widget(form._token) }}

                <div class="mb-5 mt-3 ml-auto mr-auto button-container">
                    <button type="submit" class="btn btn_custom">Enregistrer</button>
                    <a type="button" class="btn btn_custom_cancel" href="{{ path('profil', {'id': app.user.id}) }}">
                        Annuler
                    </a>
                </div>
            </div>

            {% endif %}

            {{  form_end(form, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}