{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}  {% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudfl   are.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                {{ form_start(form, { 'attr': {'class': 'form-inline mt-5', 'id': 'form_add_participant'} }) }}

                {{ form_errors(form) }}

                <div class="form-group mb-3">
                    <label for="sortie_nom" class="col-sm-4 col-form-label justify-content-end">
                        Nom :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        {{ form_widget(form.nom, { 'attr': {'id': 'sortie_nom', 'placeholder': 'nom de la sortie'} }) }}
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="sortie_dateDebut" class="col-sm-4 col-form-label justify-content-end">
                        date de debut :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <div class='input-group date' id='datetimepickerDateDeb'>
                            {{ form_widget(form.dateDebut, { 'attr': {'id': 'sortie_dateDeb', 'placeholder': 'Date de début', 'class': 'form-control'} }) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="sortie_dateCloture" class="col-sm-4 col-form-label justify-content-end">
                        date de cloture :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <div class='input-group date' id='datetimepickerDateCloture'>
                            {{ form_widget(form.dateCloture, { 'attr': {'id': 'sortie_dateCloture', 'placeholder': 'Date de cloture', 'class': 'form-control'} }) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="sortie_inscriptionMax" class="col-sm-4 col-form-label justify-content-end">
                        nombre d'inscription maximum :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        {{ form_widget(form.nombreInscriptionsMax, { 'attr': {'id': 'sortie_nombreInscriptionsMax', 'placeholder': 'Nombre d\'inscription max'} }) }}
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="sortie_duree" class="col-sm-4 col-form-label justify-content-end">
                        durée de l'évenment :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        {{ form_widget(form.duree, { 'attr': {'id': 'sortie_duree', 'placeholder': 'durée de la sortie'} }) }}
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="sortie_description" class="col-sm-4 col-form-label justify-content-end">
                        Description :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        {{ form_widget(form.descriptionInfo, { 'attr': {'id': 'sortie_descriptionInfo', 'placeholder': 'Description de la sortie'} }) }}
                    </div>
                </div>


            </div>
            <div class='col-sm-6'>
                <div class="form-group mb-3">
                    <label for="sortie_campusOrganisateur" class="col-sm-4 col-form-label justify-content-end">
                        Campus de l'organisateur :
                        <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        {{ form_widget(form.campusOrganisateur, { 'attr': {'id': 'sortie_campusOrganisateur', 'placeholder': 'campus organisateur'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group mb-3">
                            <label for="sortie_campusOrganisateur" class="col-sm-4 col-form-label justify-content-end">
                                Lieu de l'évenement :
                                <span class="required">*</span>
                            </label>
                            <div class="col-sm-8">
                                {{ form_widget(form.lieu, { 'attr': {'id': 'sortie_lieu', 'placeholder': 'Lieu de l\'évenement'} }) }}
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <button class="btn btn-secondary" onclick="getModaleLieu(-1)">Ajouter un lieu</button>

                    </div>
                </div>
            </div>
        </div>
            {{ form_widget(form.enregister, { 'attr': {'class':'btn btn-success'} }) }}

    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/locale/fr.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({});
            $('#datetimepickerDateDeb').datetimepicker({
                locale: 'fr'
            });
            $('#datetimepickerDateCloture').datetimepicker({
                locale: 'fr'
            });
        });

    </script>
    <script>
        function getModaleLieu(id) {
            $routeGetModaleLieu = '{{ path('get_modale_lieu') }}';
            $.ajax({
                url: $routeGetModaleLieu,
                data: {
                    idLieu: id
                },
                type: 'GET',
                success: function (data) {
                    $(data).modal();
                }
            });
        }
    </script>
{% endblock %}