{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}  {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    {{ form(formSortie) }}
<div class="container mt-5 mb-5">
    <div class="title">
        <h1>Gérer les participants</h1>
    </div>
    <br>

    <div id="table_participant" class="mt-5">
        <a type="button" class="btn btn-success mb-1" href="{{ path('ajoutSortie') }}">Ajouter une sortie</a>
        <style>
            #divConteneur{
                min-height:1000px;
                height:1000px;
                min-width:1300px;
                width:1300px;
                overflow:auto;
            }
        </style>

        <div id="divConteneur">
        <table class="table table-striped">
            <thead>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrit/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
            </thead>

            <tbody>
            {% for sortie in sorties %}
            <!--
            app.user.id
            -->
            {% set isInscrit = sortie.isInscrit(2) %}
            <tr>
                <th>{{ sortie.nom }}</th>
                <th>{{ sortie.dateDebut|format_datetime() }}</th>
                <th>{{ sortie.dateCloture|format_date() }}</th>
                <th>{{ sortie.inscriptions|length }} / {{ sortie.nombreInscriptionsMax }}</th>
                <th>{{ sortie.etat.libelle }}</th>
                <th>{% if isInscrit %} x {% endif %} </th>
                <th>{{ sortie.organisateur.pseudo }}</th>
                <th>


                    {% if sortie.etat.libelle == 'Ouverte' %}
                        {% if isInscrit %}
                            <a type="button" class="btn btn-success mb-1" href="{{ path('desinscriptionSortie') }}">se désister</a>
                        {% else %}
                            <a type="button" class="btn btn-success mb-1" href="{{ path('inscriptionSortie') }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                    {% if sortie.etat.libelle == 'Fermé' %}
                        <a type="button" class="btn btn-success mb-1" href="{{ path('desinscriptionSortie') }}">se désister</a>
                    {% endif %}
                    <!--
                    app.user.id-->
                    {% if sortie.organisateur.id == 1 and sortie.etat.libelle != 'Activité en cours' %}
                            <a type="button" class="btn btn-success mb-1" href="{{ path('inscriptionSortie') }}">Motifié</a>
                        {% else %}
                            <a type="button" class="btn btn-success mb-1" href="{{ path('inscriptionSortie') }}">Détail</a>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}

